$bgColor: #060621;
$bgLight: #061940;
$bgDark: #000c18;
$fontColor: #ebeef5;
$color-primary: #2d73c7;
$color-text-primary: $fontColor;
$color-text-regular: #e4e7ed;
$color-text-secondary: #dcdfe6;
$tooltip-fill: #303133;
$card-header-bg: rgba(0, 210, 255, 0.2);
$card-header-border: rgba(0, 210, 255, 1);
$progress-bar-bg: rgb(7, 15, 50);
$--border-color-base: #9e9e9e;
$--border-color-lighter: $--border-color-base;
$--border-color-light: $--border-color-base;
$--text--color-danger: #ff4d6d;
$--text--color-success: #359633;

/*-----App------*/
$--content-color-dark: #a2cef0;
$--info-content-color-dark: #40dcff;
$--content-bg-dark: #1e347a;
$--content-border-dark: #005499;
$--dropdown-bg-dark: #13214d;
$--dropdown-border-dark: #276ea9;
$--dropdown-bg-select-dark: #1b3999;
$--table-head-bg: #e6ecf3;
$--table-border: #b0c4e2;

$head_title_color: #65edff;
$head_menu_color: #57ccff;
$head_menu_color_hover: #5fe8ff;
$head_menu_color_active: 40e8ff;
$head_menu_border_color: #40e8ff;
