// element-ui var
@import '~element-ui/packages/theme-chalk/src/common/var';

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
/// borderRadius|1|Radius|0
$--border-radius-base: 4px !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 2px !default;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0 !default;

/* Typography
-------------------------- */
/// fontSize|1|Font Size|0
$--font-size-extra-large: 0.2rem !default;
/// fontSize|1|Font Size|0
$--font-size-large: 0.18rem !default;
/// fontSize|1|Font Size|0
$--font-size-medium: 0.16rem !default;
/// fontSize|1|Font Size|0
$--font-size-base: 0.14rem !default;
/// fontSize|1|Font Size|0
$--font-size-small: 0.13rem !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 0.12rem !default;
/// fontWeight|1|Font Weight|1
$--font-weight-primary: 500 !default;
/// fontWeight|1|Font Weight|1
$--font-weight-secondary: 100 !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-primary: 0.24rem !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-secondary: 0.16rem !default;

/* Size
-------------------------- */
$--size-base: 0.14rem !default;

/* Select
-------------------------- */
/// fontSize||Font|1
$--select-input-font-size: 0.14rem !default;
/// height||Other|4
$--select-option-height: 0.34rem !default;
$--select-group-height: 0.3rem !default;
$--select-group-font-size: 0.12rem !default;
/// height||Other|4
$--select-dropdown-max-height: 2.74rem !default;
$--select-dropdown-padding: 0.06rem 0 !default;
$--select-dropdown-empty-padding: 0.1rem 0 !default;

/* Input
-------------------------- */
/// height||Other|4
$--input-width: 1.4rem !default;
/// height||Other|4
$--input-height: 0.4rem !default;
/// fontSize||Font|1
$--input-medium-font-size: 0.14rem !default;
/// height||Other|4
// $--input-medium-height: 0.36rem !default;
/// fontSize||Font|1
$--input-small-font-size: 0.13rem !default;
/// height||Other|4
// $--input-small-height: 0.32rem !default;
/// fontSize||Font|1
$--input-mini-font-size: 0.12rem !default;
/// height||Other|4
// $--input-mini-height: 0.28rem !default;

/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #2d73c7 !default;

/* TAG
-------------------------- */
$--tag-font-size: 0.12rem !default;
$--tag-border-radius: 0 !default;
$--tag-padding: 0 0.1rem !default;

/* Button
-------------------------- */
/// fontSize||Font|1
$--button-font-size: $--font-size-base !default;
/// fontWeight||Font|1
$--button-font-weight: $--font-weight-primary !default;
/// borderRadius||Border|2
$--button-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-padding-vertical: 0.12rem !default;
/// padding||Spacing|3
$--button-padding-horizontal: 0.02rem !default;

/// fontSize||Font|1
$--button-medium-font-size: $--font-size-base !default;
/// borderRadius||Border|2
$--button-medium-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-medium-padding-vertical: 0.1rem !default;
/// padding||Spacing|3
$--button-medium-padding-horizontal: 0.2rem !default;

/// fontSize||Font|1
$--button-small-font-size: 0.12rem !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
/// padding||Spacing|3
$--button-small-padding-vertical: 0.09rem !default;
/// padding||Spacing|3
$--button-small-padding-horizontal: 0.15rem !default;
/// fontSize||Font|1
$--button-mini-font-size: 0.12rem !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
/// padding||Spacing|3
$--button-mini-padding-vertical: 0.07rem !default;
/// padding||Spacing|3
$--button-mini-padding-horizontal: 0.15rem !default;

/* Pagination
-------------------------- */
$--pagination-font-size: 0.12rem !default;

/* Popover
-------------------------- */
/// fontSize||Font|1
$--popover-title-font-size: 0.16rem !default;

/* Alert
-------------------------- */
$--alert-padding: 0.08rem 0.16rem !default;
/// fontSize||Font|1
$--alert-title-font-size: 0.13rem !default;
/// fontSize||Font|1
$--alert-description-font-size: 0.12rem !default;
/// fontSize||Font|1
$--alert-close-font-size: 0.12rem !default;
/// fontSize||Font|1
$--alert-close-customed-font-size: 0.13rem !default;
/// height||Other|4
$--alert-icon-size: 0.16rem !default;
/// height||Other|4
$--alert-icon-large-size: 0.28rem !default;
