.root {
  display: flex;
  flex-wrap: wrap;
  // flex-flow: row wrap;
  justify-content: space-around;
  .database {
    min-width: 16rem;
    min-height: 1.9rem;
    margin: 0.1rem 0.1rem 0rem 0.1rem;
    flex: 3;
  }
  .device-status {
    min-width: 5.04rem;
    min-height: 3.67rem;
    margin: 0.1rem 0.1rem 0rem 0.1rem;
    flex: 1;
  }
  .turnover {
    flex: 2;
    min-width: 10.78rem;
    min-height: 3.67rem;
    margin: 0.1rem 0.1rem 0rem 0.1rem;
  }
}
